@import "reset";
@import "fonts";
@import "header";
@import "footer";

body {
   overflow-x: hidden;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
}

.main__swiper-container {
   width: 1920px;
   height: 764px;
   background: #f2f0ff;
   margin-bottom: 129px;
   .swiper-container__lamp {
      position: absolute;
      width: 387px;
      height: 387px;
      left: 70px;
      top: 122px;
   }
   .swiper-container__content {
      position: absolute;
      width: 650px;
      height: 248px;
      left: 375px;
      top: 325px;
      .swiper-container__subtitle {
         font-family: Lato;
         font-weight: bold;
         font-size: 16px;
         line-height: 28px;
         color: #fb2e86;
      }
      .swiper-container__title {
         font-family: JosefinSans;
         font-weight: 700;
         font-size: 53px;
         line-height: 82px;
         letter-spacing: 0.015em;
         color: #000000;
      }
      .swiper-container__describe {
         font-family: Lato;
         font-style: normal;
         font-weight: bold;
         font-size: 16px;
         line-height: 28px;
         color: #8a8fb9;
         margin-bottom: 27px;
      }
      .swiper-container__btn-buy {
         width: 163px;
         height: 50px;
         background: #fb2e86;
         border-radius: 2px;
         font-family: JosefinSans;
         font-size: 17px;
         line-height: 20px;
         letter-spacing: 0.02em;
         color: #ffffff;
         &:hover {
            color: yellow;
         }
      }
   }
   .swiper-container__chair {
      position: absolute;
      width: 629px;
      height: 629px;
      left: 1051px;
      top: 221px;
   }
   .swiper-container__circle {
      position: absolute;
      width: 651px;
      height: 651px;
      left: 1096px;
      top: 161px;
      border-radius: 50%;
      background: rgba(236, 210, 250, 0.35);
   }
   .swiper-container__circle_light {
      position: absolute;
      width: 648px;
      height: 648px;
      left: 1041px;
      top: 202px;
      border-radius: 50%;
      background: rgba(236, 210, 250, 0.35);
   }
   .swiper-container__blob {
      position: absolute;
      width: 136px;
      height: 138px;
      left: 1598px;
      top: 216px;
      background: #00c1fe;
      border-radius: 53px 157px 114px 102px / 53px 104px 112px 108px;
      transform: rotate(28deg);
      .swiper-container__discount {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 69px;
         height: 100%;
         margin: 0 auto;
         font-family: JosefinSans;
         font-size: 35px;
         text-align: center;
         line-height: 44px;
         color: #ffffff;
         transform: rotate(-28deg);
      }
   }
   .swiper__slaider-containre {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 66px;
      height: 14px;
      left: 927px;
      top: 818px;
      .swiper-slaider__switch {
         width: 10px;
         height: 9.89px;
         border: 1px solid #fb2e86;
         box-sizing: border-box;
         transform: rotate(-45deg);
         cursor: pointer;
      }
   }
}

.main__featured-prod {
   width: 1170px;
   margin: 0 auto;
   .featured-prod__title {
      font-family: JosefinSans;
      font-size: 42px;
      text-align: center;
      font-weight: 700;
      line-height: 49px;
      color: #1a0b5b;
      margin-bottom: 48px;
   }
   .featured-prod__wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      height: 422px;
      margin-bottom: 53px;
      .featured-prod__prod {
         width: 270px;
         height: 361px;
         background: #ffffff;
         transition: all 0.4s ease-in;
         box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
         &:hover {
            width: 280px;
            height: 371px;
            background: #2f1ac4;
            color: #fff;
            box-shadow: 0px 0px 25px 7px rgb(0 0 0 / 10%);
            .featured-prod__img {
               height: 70%;
               object-fit: cover;
            }
            .actions-good {
               display: block;
               position: absolute;
               top: 16px;
               left: 16px;
               display: flex;
               justify-content: space-between;
               width: 93px;
               .actions-good__img {
                  display: block;
                  width: 100%;
               }
            }
            .featured-prod__detail {
               display: block;
            }
            .featured-prod__prod-title {
               color: #fff;
            }
            .featured-prod__code {
               color: #fff;
            }
            .featured-prod__price {
               color: #fff;
            }
         }
      }
      .featured-prod__img-wrapper {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 236px;
         background: #f6f7fb;
         .featured-prod__img {
            height: 65%;
            object-fit: cover;
            transition: all 0.4s ease-in;
         }
         .featured-prod__detail {
            display: none;
            position: absolute;
            left: 50%;
            bottom: 4%;
            transform: translateX(-50%);
            background: #08d15f;
            border-radius: 2px;
            font-family: JosefinSans;
            text-align: center;
            padding: 8px 13px;
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
            cursor: pointer;
            &:hover {
               background: #36e080;
            }
         }
      }
      .featured-prod__prod-title {
         font-family: Lato;
         text-align: center;
         font-weight: bold;
         font-size: 18px;
         line-height: 22px;
         color: #fb2e86;
         margin: 15px 0 12px;
         transition: all 0.4s ease-in;
      }
      .featured-prod__color-choice {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 52px;
         height: 4px;
         margin: 0 auto;
         margin-bottom: 12px;
         .featured-prod__color {
            width: 14px;
            height: 4px;
            border-radius: 10px;
         }
      }
      .featured-prod__code {
         margin-bottom: 12px;
         font-family: JosefinSans;
         text-align: center;
         font-size: 14px;
         line-height: 16px;
         color: #151875;
         transition: all 0.4s ease-in;
      }
      .featured-prod__price {
         font-family: Lato;
         text-align: center;
         font-size: 14px;
         line-height: 17px;
         color: #151875;
         transition: all 0.4s ease-in;
      }
   }
}

.actions-good {
   display: none;
   position: absolute;
   top: 16px;
   left: 16px;
   display: flex;
   justify-content: space-between;
   width: 93px;
   .actions-good__img {
      display: none;
      width: 100%;
      transition: all 0.1s ease-in;
      &:hover {
         background: #eeeffb;
         box-shadow: 0px 0px 0px 7px rgb(0 0 0 / 5%);
         border-radius: 50%;
      }
   }
}

.switch-on {
   background: #fb2e86;
}

.aqua-prod {
   background: #05e6b7;
}

.pink-prod {
   background: #f701a8;
}

.blue-prod {
   background: #00009d;
}
